<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NBA Visualization</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="{{ url_for('static', path='/graphs/barchart_teamstats.js')}}"></script>
    <script src="{{ url_for('static', path='/team_colors.js')}}"></script>
  </head>
  <body>
    <div class="alert alert-success" role="alert">{{debug}}</div>

    <div class="row">
      <!--GAME_IDにおける試合結果-->
      <div class="col-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              {% for stats in AWAY.keys() %} {% if stats not in ['GAME_ID',
              'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CITY'] %}
              <th scope="col">{{stats}}</th>
              {% endif %} {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{AWAY.TEAM_ABBREVIATION}}</th>
              {% for key, stats in AWAY.items() %} {% if key not in ['GAME_ID',
              'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CITY'] %}
              <td scope="col">{{stats}}</td>
              {% endif %} {% endfor %}
            </tr>
            <tr>
              <th scope="row">{{HOME.TEAM_ABBREVIATION}}</th>
              {% for key, stats in HOME.items() %} {% if key not in ['GAME_ID',
              'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CITY'] %}
              <td scope="col">{{stats}}</td>
              {% endif %} {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
      <!--BarChart グラフ-->
      {% for key in AWAY.keys() %} {% if (loop.index -1) % 3 == 0 %}
      <div class="row">
        {% endif %} {% if key not in ['GAME_ID', 'TEAM_ID', 'TEAM_NAME',
        'TEAM_ABBREVIATION', 'TEAM_CITY', 'MIN'] %}
        <div class="col-4">
          <div id="stats_{{key}}"></div>
          <script>
            var data = [{"TEAM": "{{AWAY.TEAM_ABBREVIATION}}", "stats": {{AWAY[key]}}}, {"TEAM": "{{HOME.TEAM_ABBREVIATION}}", "stats": {{HOME[key]}}}]
            var colors = getTeamColorsObject();
            barchart(data, "{{key}}", colors);
          </script>
        </div>
        {% endif %} {% if (loop.index-1) % 3 == 2 %}
      </div>
      {% endif %} {% endfor %}
      <!-- RadarChartグラフ-->
      <!--        <script>-->
      <!--            var data = [{"TEAM": "{{AWAY.TEAM_ABBREVIATION}}"}, {"TEAM": "{{HOME.TEAM_ABBREVIATION}}"}]-->
      <!--            {% for key in ['PTS', 'AST', 'REB', 'STL', 'BLK'] %}-->
      <!--                data[0][key] = {{AWAY[key]}}-->
      <!--                data[1][key] = {{HOME[key]}}-->
      <!--            {% endfor %}-->
      <!--        </script>-->
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
